@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

$mainColor: #0a3d62;

$width: 776px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin flexible($jc, $ai, $fd) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}